@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-bg-opacity: 1;
  /* --foreground-rgb: 255, 255, 255; */
  --background-start-rgb: 0, 18, 32; /* Original color */
  --background-end-rgb: 0, 18, 32;
  background-color: rgb(0, 18, 32 / var(--tw-bg-opacity));
}

@media (prefers-color-scheme: default) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

.body {
  overflow-y: hidden;
}
.background {
  width: 100vw;
  height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom right,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  
}

.spacer1 {
  aspect-ratio: 980/540;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.spacer2.layer1 {
  background-image: url('../public/blob-scene-haikei.svg');
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1; /* Ensure it stays behind other content */
}

/* Additional styles for scrollbar */
.overflow-y-auto::-webkit-scrollbar {
  width: 8px;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background-color: transparent;
}


.layer2{
  background-image: url("../public/layered-wave.svg");
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
